
{% extends 'base.html.twig' %}

{% block body %}
<div>
    {% if app.user %}
        <p>Date du jour : {{ date | date('d/m/Y') }}</p>
        <p>Participant : {{ app.user.prenom }}</p>
    {% endif %}
</div>

<form action="{{ path('_main_tri') }}" method="get" name="triSorties">
    <div>
        <p>Filter les sorties</p>
        <p>Site :
            <select name="site" id="site">
                {% for site in sites %}
                    <option value="{{ site.nom }}">{{ site.nom }}</option>
                {% endfor %}
            </select>
        </p>
        <p>Le nom de la sortie contient :
            <input type="text" class="nomSortie" name="nomSortie">
        </p>
        <p>
            Entre
            <input type="date" name="debutSortie" id="debutSortie">
            et
            <input type="date" name="finSortie" id="finSortie">
        </p>
    </div>
    <div class="sorties_triees">
        <p>
            <input type="checkbox" name="organisateur" id="organisateur">
            Sorties dont je suis l'organisateur/trice
        </p>
        <p>
            <input type="checkbox" name="inscrit" id="inscrit">
            Sorties auxquelles je suis inscrit/e
        </p>
        <p>
            <input type="checkbox" name="nonInscrit" id="non_inscrit">
            Sorties auxquelles je ne suis pas inscrit/e
        </p>
        <p>
            <input type="checkbox" name="sortiesPassees" id="sorties_passees">
            Sorties passées
        </p>
    </div>
    <input type="submit" value="Rechercher" name="validerRechercher">
</form>

<div class="boxer">
    <div class="box-row-titre"><!--Headings-->
        <div class="box">Nom de la sortie </div>
        <div class="box">Date de la sortie</div>
        <div class="box">Clôture</div>
        <div class="box">Inscrits/places </div>
        <div class="box">Etat</div>
        <div class="box">Inscrit</div>
        <div class="box">Organisateur</div>
        <div class="box">Actions</div>
    </div>
    <!-- Start of 'box-row' -->

        {% for sortie in sorties %}
        <div class="box-row">
                <div class="box">{{ sortie.nom }}</div>
                <div class="box">{{ sortie.dateHeureDebut | date('d/m/Y') }}</div>
                <div class="box">{{ sortie.dateLimiteInscription | date('d/m/Y')  }}</div>
                <div class="box">{{ sortie.participants | length }} /{{ sortie.nbInscriptionsMax }}</div>
                <div class="box">{{ sortie.etat.libelle }}</div>
                <div class="box">
                    {% for participant in sortie.participants %}
                        {%  if participant == app.user %}
                            X
                        {%  endif %}
                    {% endfor %}
                </div>
                <div class="box user">
                    <a href="{{ path('profil_details', {'id': sortie.organisateur.id}) }}">{{ sortie.organisateur.pseudo }}</a>
                </div>
                <div class="box actions">
                    {%  if sortie.organisateur != app.user and sortie.participants | length < sortie.nbInscriptionsMax %}
                            <span class="left">
                                 <a href="{{ path('sortie_detail', {'id': sortie.id}) }}">Afficher&nbsp</a>
                            </span>
                        {#  TODO inscription à une sortie #}
                        {% if app.user not in sortie.participants %}
                            <span class="right">
                                <a href="">-&nbspS'inscrire</a>
                            </span>
                        {% endif %}
                        {% if  app.user in sortie.participants %}
                             <span class="right">
                                <a href="">-&nbspSe désister</a>
                            </span>
                        {% endif %}
                    {% elseif sortie.organisateur == app.user %}
                        <span>
                            <a href="{{ path('sortie_modification', {'id': sortie.id}) }}">Modifier&nbsp</a>
                        </span>
                        {% if sortie.etat.libelle == 'Créée' %}
                            <span class="right">
                                <a href="{{ path('sortie_modification', {'id': sortie.id}) }}">-&nbspPublier</a>
                            </span>
                        {%  endif %}
                        {% if sortie.etat.libelle == 'Ouverte' %}
                            <span class="right">
                                <a href="{{ path('sortie_modification', {'id': sortie.id}) }}">-&nbspAnnuler</a>
                            </span>
                        {%  endif %}
                    {%  endif %}
                </div>
        </div>
        {% endfor %}


</div>
    <!-- End of 'box-row' -->
    <a href="{{ path('sortie_creation') }}">
        <button name="CréerSortie">Créer une sortie</button>
    </a>

    {% endblock %}



