{% extends 'base.html.twig' %}
{% block title %}
{% endblock %}
    {% block body %}

        <div>
            <img src="{{ asset('images/avatar/'~user.image) }}" alt="" class="img-crea">
        </div>

        <div class="crea">
            <h2>{{ user.pseudo }}</h2>

            <div class="crea">Prénom : {{ user.prenom }}</div>
            <div class="crea">Nom : {{ user.nom }}</div>
            <div class="crea">Téléphone : {{ user.telephone }}</div>
            <div class="crea">Email : {{ user.email }}</div>
            <div class="crea">Ville de rattachement : {{ user.site.nom }}</div>

            <div class="crea"><a href="{{ path('_sorties') }}">
                    <button>Retour</button>
                </a></div>
        </div>

    {% endblock %}





