{% extends 'base.html.twig' %}

{% block body %}

    <div>
    <h2>{{ profil.pseudo }}</h2>
    </div>

    <div>
        <p>Prénom : {{ profil.prenom }}</p>
        <p>Nom : {{ profil.nom }}</p>
        <p>Téléphone : {{ profil.telephone }}</p>
        <p>Email : {{ profil.email }}</p>
        <p>Ville de rattachement : {{ profil.site.nom }}</p>
    </div>

    <div><a href="{{ path('_main_sorties') }}"><button>Retour</button></a> </div>


{% endblock %}

{% block title %}

{% endblock %}

