{% extends 'base.html.twig' %}
{% block title %}
{% endblock %}
    {% block body %}

    <div class="crea">
    <h2>{{ profil.pseudo }}</h2>



        <img src="{{ asset('images/avatar/'~profil.image) }}" alt="" height="150" width="150">

        <div class="crea">Prénom : {{ profil.prenom }}</div>
        <div class="crea">Nom : {{ profil.nom }}</div>
        <div class="crea">Téléphone : {{ profil.telephone }}</div>
        <div class="crea">Email : {{ profil.email }}</div>
        <div class="crea">Ville de rattachement : {{ profil.site.nom }}</div>


        <div class="crea"><a href="{{ path('_sorties') }}"><button>Retour</button></a> </div>
    </div>
        <div>
            {% for participant in sortie.participants %}

        </div>

{% endblock %}





