{% extends 'base.html.twig' %}
{% block title %}

{% endblock %}
{% block body %}

    <div class="crea">
        <h2>Mon profil</h2>
    </div>

    <div>
        <img src="{{ asset('images/avatar/'~profil.image) }}" alt="" class="img-crea">
    </div>

    <div class="crea">

        {{ form_start(profilForm) }}
        <div class="crea">{{ form_row(profilForm.pseudo) }}</div>
        <div class="crea">{{ form_row(profilForm.prenom) }}</div>
        <div class="crea">{{ form_row(profilForm.nom) }}</div>
        <div class="crea">{{ form_row(profilForm.telephone) }}</div>
        <div class="crea">{{ form_row(profilForm.email) }}</div>
        <div class="crea">{{ form_row(profilForm.password) }}</div>
        <div class="crea">{{ form_row(profilForm.imageFile) }}</div>
        <div class="crea">{{ form_row(profilForm.site) }}</div>
        <button class="bouton-crea">Enregistrer</button>
        {{ form_end(profilForm) }}
        <a href="{{ path('_sorties') }}">
            <button class="bouton-crea">Annuler</button>
        </a>
    </div>

{% endblock %}



