{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}



{% block body %}
    <div class="crea">
        <h2>{{ sortie.nom }}</h2>
    </div>
    <div class="crea">
        <p>Date de la sortie : {{ sortie.dateHeureDebut | date('Y-m-d') }}</p>
        <p>Date limite d'inscription : {{ sortie.dateLimiteInscription  | date('Y-m-d') }}</p>
        <p>Nombre d'inscription max : {{ sortie.nbInscriptionsMax }}</p>
        <p>Durée : {{ sortie.duree }} minutes</p>
        <p>Détail : {{ sortie.infosSortie }}</p>
    </div>
    <div class="crea">
        <p>Ville organisatrice :{{ sortie.site.nom }} </p>
        <p>Lieu : {{ sortie.lieu.nom }}</p>
        <p>Rue : {{ sortie.lieu.rue }}</p>
        <p>Code Postal : {{ sortie.lieu.ville.codePostal }}</p>
    </div>
    <div class="crea-bouton">
        {% if app.user in sortie.participants %}
            {% if sortie.participants | length < sortie.nbInscriptionsMax %}
                <a href="{{ path('_desinscriptionSortie', {'id': sortie.id}) }}">
                    <input type="submit" value="Se désinscrire">
                </a>
            {% endif %}
        {% else %}
            <a href="{{ path('_inscriptionSortie', {'id': sortie.id}) }}">
                <input type="submit" value="S'inscrire">
            </a>
        {% endif %}
    </div>
        <div class="boxer">
        <div class="box-row-titre">
            <p class="box">Pseudo</p>
            <p class="box">Nom</p>
        </div>
        {% for user in sortie.participants %}
            <div class="box-row">
                <div class="box">{{ user.pseudo }} </div>
                <div class="box">{{ user.prenom }} {{ user.nom }}</div>
            </div>
        {% endfor %}
    </div>
{% endblock %}