{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}


{% block body %}

<div class="crea">
<h2>Annuler une sortie</h2>

        {{ form_start(annulationSortie) }}

        <div class="crea">{{ form_row(annulationSortie.nom)}}</div>
        <div class="crea">{{ form_row(annulationSortie.dateHeureDebut) }}</div>
        <div class="crea">{{ form_row(annulationSortie.duree) }}</div>
        <div class="crea">{{ form_row(annulationSortie.dateLimiteInscription) }}</div>
        <div class="crea">{{ form_row(annulationSortie.nbInscriptionsMax) }}</div>
        <div class="crea">{{ form_row(annulationSortie.lieu) }}</div>
        <div class="crea">{{ form_row(annulationSortie.infosSortie) }}</div>

        <div class="crea">{{ form_row(annulationSortie.Enregistrer) }}</div>
        <div class="crea">{{ form_row(annulationSortie.Annuler) }}</div>



        {{ form_end(annulationSortie) }}
        </div>
{% endblock %}

